blinker
certifi
cffi
charset-normalizer
click
colorama
curl-cffi
fake-useragent
Flask
idna
importlib-metadate
importlib-resources
itsdangerous
Jinja2
MarkupSafe
pycparser
pycryptodome
pydantic
requests
tls-client
typing_extensions
urllib3
Werkzeug
zipp
